// ** Variables **

$tablet-start: 768px;
$desktop-start: 1200px;

$default-ff: Arial, Helvetica, sans-serif;
$default-fs: 1rem;
$big-fs: 3em;
$medium-fs: 1.25em;
$small-fs: .9em;
$default-title-fs: 1.5em;
$medium-title-fs: 1.25em;
$small-title-fs: 1em;

$dark-gray: #464646;
$light-gray: #eaeaeb;
$purple: #a050be;
$yellow: #fabe50;

$margin-horizontal-text: 1.5rem;
$margin-bottom-text: 1rem;
$margin-vertical-content: 2rem;