.chamada {
    color: var(--branco);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.chamada__titulo {
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.chamada__texto {
    font-size: 1.25rem;
    
    margin-bottom: 2rem;

    max-width: 510px;
}

@media screen and (min-width: 1024px) {
    .chamada__titulo {
        font-size: 4rem;
        
        margin-bottom: 2rem;
    }
}