.sobre {
    display: flex;
    flex-flow: row nowrap;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sobre__conteudo {
    margin: 0 auto;
}

.sobre__titulo {
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;

    color: var(--fonte-cinza);

    margin-bottom: 1.5rem;
}

.sobre__texto {
    margin-bottom: 1rem;
}

.sobre__texto--destaque {
    color: var(--cinza-escuro);
    font-weight: 700;
}

.sobre__plataformas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

.sobre__imagem {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .sobre__titulo {
        text-align: start;
    }

    .sobre__texto--divisao {
        padding-bottom: 1rem;

        border-bottom: 1px solid var(--cinza-medio);
    }

    .sobre__imagem {
        position: initial;
        width: initial;
        overflow: visible;

        width: 30%;
        max-width: 350px;

        margin-left: 3rem;
    }
}