// ** Imports **

@use "../variables" as var;
@use "../mix-ins" as mx;
@use "../placeholder-selectors";

// ** Footer **

.footer {
  @extend %container;
  text-align: center;

  &__logo {
    max-width: 100px;
  }

  &__license {
    font-size: var.$small-fs;
  }
}