// ** Imports **

@use "../variables" as var;
@use "../mix-ins" as mx;
@use "../placeholder-selectors";

// ** Main **

.main {
  @extend %container;

  display: flex;
  flex-flow: column;

  &--grid {
    @extend .main;
    
    @include mx.for-desktop-only {
      display: grid;
      gap: 5%;
      grid-template-columns: 1fr 30%;
      grid-template-rows: auto;
  
      max-width: 1200px;
  
      padding: 1rem 2%;
      margin: 0 auto;
    }
  }
}